In [1]:
import pandas as pd

In [4]:
ncgames = pd.read_excel('share/data/ncgames.xlsx')
ncgames

          제목      장르    출시 플랫폼
0        리니지  MMORPG  1998  PC
1       리니지2  MMORPG  2003  PC
2  시티 오브 히어로  MMORPG  2004  PC
3        길드워  MMORPG  2006  PC
4        아이온  MMORPG  2008  PC
5    리니지 이터널  MMORPG   NaN  PC

## Series

일련의 값을 담은 자료구조

In [7]:
제목 = ncgames['제목'] # ncgames[['제목']]
제목

0          리니지
1         리니지2
2    시티 오브 히어로
3          길드워
4          아이온
5      리니지 이터널
Name: 제목, dtype: object

In [8]:
type(제목)

pandas.core.series.Series

In [9]:
type(ncgames)

pandas.core.frame.DataFrame

In [10]:
제목[0]

'리니지'

In [11]:
제목.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [12]:
제목.values

array(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype=object)

In [13]:
ncgames

          제목      장르    출시 플랫폼
0        리니지  MMORPG  1998  PC
1       리니지2  MMORPG  2003  PC
2  시티 오브 히어로  MMORPG  2004  PC
3        길드워  MMORPG  2006  PC
4        아이온  MMORPG  2008  PC
5    리니지 이터널  MMORPG   NaN  PC

In [16]:
ncgames = ncgames.set_index('제목')

In [17]:
ncgames['장르']

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
리니지 이터널      MMORPG
Name: 장르, dtype: object

색인화된 열은 더이상 열이 아님

In [18]:
ncgames.set_index('제목')

KeyError: '제목'

In [21]:
장르 = ncgames['장르']
장르

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
리니지 이터널      MMORPG
Name: 장르, dtype: object

시리즈 생성

1. 데이터프레임의 단일 열 또는 행 선택
1. 직접생성

In [22]:
ncgames[['장르', '플랫폼']]

               장르 플랫폼
제목
리니지        MMORPG  PC
리니지2       MMORPG  PC
시티 오브 히어로  MMORPG  PC
길드워        MMORPG  PC
아이온        MMORPG  PC
리니지 이터널    MMORPG  PC

In [23]:
pd.Series({'블레이드 앤 소울' : 'MMORPG'})

블레이드 앤 소울    MMORPG
dtype: object

#### 연습

ncgames 장르 열의 값을 직접 시리즈로 생성

In [24]:
내장르 = pd.Series({'리니지':'MMORPG', '리니지2': 'MMORPG'})
내장르

리니지     MMORPG
리니지2    MMORPG
dtype: object

In [25]:
pd.Series(['MMORPG']*5, 
          index=['리니지', '리니지2', '히어로', '길드워', '블소'])

리니지     MMORPG
리니지2    MMORPG
히어로     MMORPG
길드워     MMORPG
블소      MMORPG
dtype: object

In [26]:
장르['리니지']

'MMORPG'

In [27]:
장르[['리니지', '아이온']]

제목
리니지    MMORPG
아이온    MMORPG
Name: 장르, dtype: object

In [28]:
장르[:]

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
리니지 이터널      MMORPG
Name: 장르, dtype: object

정수 색인이 아닌 라벨 색인도 범위 선택이 가능

In [29]:
장르['리니지':'아이온']

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
Name: 장르, dtype: object

라벨 색인이 설정되어도 기본 정수 색인을 계속 활용할수 있음

In [31]:
장르[:5]

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
Name: 장르, dtype: object

In [32]:
장르['리니지']

'MMORPG'

In [33]:
장르[0]

'MMORPG'

#### 연습

식당 주문 기록 식당.xlsx (이전 자료가 없으면 share/data/food_order.xlsx)에 대해 수행

1. 메뉴 열을 선택
1. 메뉴, 코너의 형식으로 시리즈 구성

In [35]:
식당 = pd.read_excel('식당.xlsx')
식당[:3]

        date            메뉴             코너     시간대  주문수량
0 2013-08-06  훈제연어벤또(200개)    grill & fry  dinner   213
1 2013-08-06   뚝배기 우거지 갈비탕  rice & soup 1  dinner   261
2 2013-08-06         판모밀정식     noodle bar   lunch   267

In [42]:
식당['메뉴'][:3]
#pd.Series(식당['코너'], index=식당['메뉴'])

0    훈제연어벤또(200개)
1     뚝배기 우거지 갈비탕
2           판모밀정식
Name: 메뉴, dtype: object

In [43]:
식당['코너'][:3]

0      grill & fry
1    rice & soup 1
2       noodle bar
Name: 코너, dtype: object

In [44]:
식당.set_index('메뉴')[:3]

                   date             코너     시간대  주문수량
메뉴
훈제연어벤또(200개) 2013-08-06    grill & fry  dinner   213
뚝배기 우거지 갈비탕  2013-08-06  rice & soup 1  dinner   261
판모밀정식        2013-08-06     noodle bar   lunch   267

In [45]:
식당.set_index('메뉴')['코너'][:3]

메뉴
훈제연어벤또(200개)      grill & fry
뚝배기 우거지 갈비탕     rice & soup 1
판모밀정식              noodle bar
Name: 코너, dtype: object

각 열을 꺼내서 직접 시리즈로 생성하는 것도 가능

In [51]:
#원본 데이터 변경없이 시리즈 생성 가능
pd.Series(식당['코너'].values, index=식당['메뉴'].values)

훈제연어벤또(200개)        grill & fry
뚝배기 우거지 갈비탕       rice & soup 1
판모밀정식                noodle bar
설렁탕정식             rice & soup 1
A. 부대찌개정식         rice & soup 1
차슈라멘                 noodle bar
뚝배기순대국            rice & soup 1
A:누룽지장각백숙         rice & soup 1
유니자장면                noodle bar
김치날치알밥            rice & soup 1
그릴드함박정식             grill & fry
가츠엔정식               grill & fry
A: 누룽지장각백숙        rice & soup 1
닭날개벤또               grill & fry
분차덮밥              rice & soup 1
열무물냉면                noodle bar
오곡버거               burger&pizza
사골우거지탕            rice & soup 1
유니자장면(밥)             noodle bar
닭날개벤또               grill & fry
다슬기해장국            rice & soup 1
치킨데리야끼스테이크          grill & fry
A: 쇠고기영양탕         rice & soup 1
가평잣국수                noodle bar
훈제오리&부추생채         rice & soup 1
라면세트               after school
카레라이스&단각구이          grill & fry
삼겹살김치찜            rice & soup 1
라면+롤밥 &고급음료        after school
흑미버거               burger&pizza
                      ...
두부버섯탕수               noodle bar
오므라이스                  take out
쇠고기영양탕            rice & soup 2
왕돈가스               burger&pizza
베이컨마늘라면            after school
닭가슴살크랜베리샐러드            take out
스팸구공탄라이스*미니샐러드         take out
오므라이스               grill & fry
돼지고기고추장볶음         rice & soup 1
어니언버거              burger&pizza
허니버터피자             burger&pizza
삼양라면               after school
훈제오리채소볶음          rice & soup 2
스팸김치볶음밥             grill & fry
샌드위치콤보&음료&과일           take out
자몽&망고샐러드               take out
쇠고기청경채볶음             noodle bar
파송송계란라면            after school
호박새우젓국*청량고추       rice & soup 1
(뚝)돈가스김치나베        rice & soup 1
콩국수                  noodle bar
매콤돈가스              burger&pizza
라볶이                after school
북어국*청량고추          rice & soup 1
(뚝)삼겹살김치찌개        rice & soup 1
돼지고기채소비빔밥           grill & fry
생오리고추장불고기&부추생채    rice & soup 2
샌드위치콤보&음료&과일           take out
김치비빔국수               noodle bar
닭가슴살크랜베리샐러드            take out
dtype: object

## 데이터프레임

"그러니까 ... 표"

In [53]:
ncgames

               장르    출시 플랫폼
제목
리니지        MMORPG  1998  PC
리니지2       MMORPG  2003  PC
시티 오브 히어로  MMORPG  2004  PC
길드워        MMORPG  2006  PC
아이온        MMORPG  2008  PC
리니지 이터널    MMORPG   NaN  PC

In [55]:
pd.DataFrame({'장르': ['MMORPG']*5, '플랫폼': ['PC']*5})

       장르 플랫폼
0  MMORPG  PC
1  MMORPG  PC
2  MMORPG  PC
3  MMORPG  PC
4  MMORPG  PC

#### 연습

사용자 정보는 이름. 이메일. 게임명 세 가지 정보로 구성됨
임의의 사용자 2명 이상의 정보를 데이터 프레임으로 구성

1. 이메일 열을 색인으로 설정
1. 게임명을 색인으로 설정

In [84]:
사용자정보 = pd.DataFrame({'이름' : ['박명수', '유재석', '정형돈'], 
                      '이메일': ['ms@test.net', 'js@test.net', 'jung@test.net'], 
                      '게임명': ['와우', '리니지', '']})

In [69]:
사용자정보

   게임명   이름          이메일
0   와우  박명수  ms@test.net
1  리니지  유재석  js@test.net

In [58]:
사용자정보.set_index('이메일')

             게임명   이름
이메일
ms@test.net   와우  박명수
js@test.net  리니지  유재석

In [59]:
사용자정보.set_index('게임명')

      이름          이메일
게임명
와우   박명수  ms@test.net
리니지  유재석  js@test.net

In [74]:
사용자정보.reset_index()
사용자 = 사용자정보.set_index('이메일')

사용자.reset_index()
#사용자
사용자 = 사용자.set_index('게임명')
사용자

      이름
게임명
와우   박명수
리니지  유재석

In [81]:
pd.DataFrame([{'이름' : '좌니', '이메일': 'lee', '게임명': '리니지'},
              {'이름' : '와니', '이메일': 'wee', '게임명': '리니지'},
              {'이름' : '오니', '이메일': 'oee'}
             ])

   게임명  이름  이메일
0  리니지  좌니  lee
1  리니지  와니  wee
2  NaN  오니  oee

#### 색인과 열 선택

In [87]:
ncgames['장르']['리니지']

'MMORPG'

In [89]:
ncgames.ix['리니지']

장르     MMORPG
출시       1998
플랫폼        PC
Name: 리니지, dtype: object

두개 이상의 색인 선택

In [90]:
ncgames.ix[['리니지', '아이온']]

         장르    출시 플랫폼
제목
리니지  MMORPG  1998  PC
아이온  MMORPG  2008  PC

단일한 색인을 선택하면서, 시리즈가 아닌데 데이터프레임(~표) 형식으로 만들기

In [91]:
ncgames.ix[['리니지']]

         장르    출시 플랫폼
제목
리니지  MMORPG  1998  PC

.T는 행과 열을 바꾸는 기능

In [94]:
pd.DataFrame(ncgames.ix['리니지'])

        리니지
장르   MMORPG
출시     1998
플랫폼      PC

In [95]:
pd.DataFrame(ncgames.ix['리니지']).T

         장르    출시 플랫폼
리니지  MMORPG  1998  PC

In [97]:
ncgames.index

Index(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype='object', name='제목')

In [98]:
ncgames.columns

Index(['장르', '출시', '플랫폼'], dtype='object')

In [99]:
ncgames.values

array([['MMORPG', 1998.0, 'PC'],
       ['MMORPG', 2003.0, 'PC'],
       ['MMORPG', 2004.0, 'PC'],
       ['MMORPG', 2006.0, 'PC'],
       ['MMORPG', 2008.0, 'PC'],
       ['MMORPG', nan, 'PC']], dtype=object)

In [100]:
ncgames['장르']

제목
리니지          MMORPG
리니지2         MMORPG
시티 오브 히어로    MMORPG
길드워          MMORPG
아이온          MMORPG
리니지 이터널      MMORPG
Name: 장르, dtype: object

In [102]:
ncgames[['장르', '플랫폼']]

               장르 플랫폼
제목
리니지        MMORPG  PC
리니지2       MMORPG  PC
시티 오브 히어로  MMORPG  PC
길드워        MMORPG  PC
아이온        MMORPG  PC
리니지 이터널    MMORPG  PC

데이터프레임의 열의 순서를 무작위로 바꾸기

In [103]:
from random import shuffle

nums = [1,2,3,4]
shuffle(nums)
nums

[1, 4, 3, 2]

In [111]:
ncgames.columns

Index(['장르', '출시', '플랫폼'], dtype='object')

In [109]:
열목록 = list(ncgames.columns)
shuffle(열목록)
열목록

['장르', '출시', '플랫폼']

In [110]:
ncgames[열목록]

               장르    출시 플랫폼
제목
리니지        MMORPG  1998  PC
리니지2       MMORPG  2003  PC
시티 오브 히어로  MMORPG  2004  PC
길드워        MMORPG  2006  PC
아이온        MMORPG  2008  PC
리니지 이터널    MMORPG   NaN  PC

### 색인과 열 동시 선택

데이터프레임 색인 선택 --> 시리즈 --> 시리즈 색인 선택

In [119]:
ncgames.ix['리니지']['출시']

1998.0

In [120]:
ncgames.ix['리니지', '출시']

1998.0

In [121]:
ncgames.ix['리니지', ['출시', '장르']]

출시      1998
장르    MMORPG
Name: 리니지, dtype: object

#### 연습

ncgames에서 아이온, 리니지의 플랫폼, 장르를 제시된 순서로 선택

In [129]:
ncgames.ix[['아이온', '리니지'],['플랫폼', '장르']]

    플랫폼      장르
제목
아이온  PC  MMORPG
리니지  PC  MMORPG

범위선택

편의상, 범위 선택은 색인에 대해 수행됨

In [130]:
ncgames[:2]

          장르    출시 플랫폼
제목
리니지   MMORPG  1998  PC
리니지2  MMORPG  2003  PC

In [131]:
ncgames.ix[:2]

          장르    출시 플랫폼
제목
리니지   MMORPG  1998  PC
리니지2  MMORPG  2003  PC

In [132]:
ncgames['리니지':'아이온']

               장르    출시 플랫폼
제목
리니지        MMORPG  1998  PC
리니지2       MMORPG  2003  PC
시티 오브 히어로  MMORPG  2004  PC
길드워        MMORPG  2006  PC
아이온        MMORPG  2008  PC

In [133]:
ncgames['리니지']

KeyError: '리니지'

"그럼 열 범위 선택은 어떻게?"

In [136]:
ncgames2 = ncgames.T
ncgames2

제목      리니지    리니지2 시티 오브 히어로     길드워     아이온 리니지 이터널
장르   MMORPG  MMORPG    MMORPG  MMORPG  MMORPG  MMORPG
출시     1998    2003      2004    2006    2008     NaN
플랫폼      PC      PC        PC      PC      PC      PC

In [137]:
ncgames2['리니지':'아이온']

Empty DataFrame
Columns: [리니지, 리니지2, 시티 오브 히어로, 길드워, 아이온, 리니지 이터널]
Index: []

In [142]:
ncgames2.ix[:]

제목      리니지    리니지2 시티 오브 히어로     길드워     아이온 리니지 이터널
장르   MMORPG  MMORPG    MMORPG  MMORPG  MMORPG  MMORPG
출시     1998    2003      2004    2006    2008     NaN
플랫폼      PC      PC        PC      PC      PC      PC

열선택 : (모든 색인을 선택하고) 그리고 지정된 열 범위를 선택

DataFrame.ix[:, 열범위]

In [150]:
ncgames2.ix[:, '리니지':'아이온']

제목      리니지    리니지2 시티 오브 히어로     길드워     아이온
장르   MMORPG  MMORPG    MMORPG  MMORPG  MMORPG
출시     1998    2003      2004    2006    2008
플랫폼      PC      PC        PC      PC      PC

위 아래 동일

In [146]:
ncgames2['리니지']

장르     MMORPG
출시       1998
플랫폼        PC
Name: 리니지, dtype: object

In [148]:
목록 = [1,2,3,4,5]
복사본 = 목록[:]
복사본

[1, 2, 3, 4, 5]

#### 연습

식당자료 'share/data/food_order.xlsx'에 대해 다음을 수행
1. 처음 10줄과 마지막 10줄 선택
1. 두번째 열부터 마지막에서 두번째 열까지 선택
1. 처음 10줄과 처음 5열 선택

In [152]:
식당 = pd.read_excel('share/data/food_order.xlsx')
식당[:10]

,date,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
0,2013-08-06,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6,1
1,2013-08-06,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6,1
2,2013-08-06,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6,1
3,2013-08-06,breakfast,rice & soup 1,설렁탕정식,F,1,0,0,0,0,0,-1,2013,8,6,1
4,2013-08-06,lunch,rice & soup 1,A. 부대찌개정식,F,376,0,0,0,0,0,-376,2013,8,6,1
5,2013-08-12,dinner,noodle bar,차슈라멘,F,179,0,0,0,0,0,-179,2013,8,12,0
6,2013-08-12,breakfast,rice & soup 1,뚝배기순대국,F,26,0,0,0,0,0,-26,2013,8,12,0
7,2013-08-12,lunch,rice & soup 1,A:누룽지장각백숙,F,504,0,0,0,0,0,-504,2013,8,12,0
8,2013-08-12,lunch,noodle bar,유니자장면,F,167,0,0,0,0,0,-167,2013,8,12,0
9,2013-08-12,dinner,rice & soup 1,김치날치알밥,F,216,0,0,0,0,0,-216,2013,8,12,0

In [154]:
식당[-10:]

,date,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
6815,2015-07-24,lunch,noodle bar,콩국수,F,223,0,0,59,13,10,-223,2015,7,24,4
6816,2015-07-27,lunch,burger&pizza,매콤돈가스,T,282,0,0,0,0,0,-282,2015,7,27,0
6817,2015-07-27,lunch,after school,라볶이,F,123,0,0,0,0,0,-123,2015,7,27,0
6818,2015-07-27,breakfast,rice & soup 1,북어국*청량고추,F,79,0,0,0,0,0,-79,2015,7,27,0
6819,2015-07-27,lunch,rice & soup 1,(뚝)삼겹살김치찌개,F,321,0,0,0,0,0,-321,2015,7,27,0
6820,2015-07-27,lunch,grill & fry,돼지고기채소비빔밥,F,268,0,0,0,0,0,-268,2015,7,27,0
6821,2015-07-27,lunch,rice & soup 2,생오리고추장불고기&부추생채,F,264,0,0,0,0,0,-264,2015,7,27,0
6822,2015-07-27,breakfast,take out,샌드위치콤보&음료&과일,F,58,0,0,0,0,0,-58,2015,7,27,0
6823,2015-07-27,lunch,noodle bar,김치비빔국수,F,202,0,0,0,0,0,-202,2015,7,27,0
6824,2015-07-27,lunch,take out,닭가슴살크랜베리샐러드,F,304,0,0,0,0,0,-304,2015,7,27,0

In [161]:
식당.ix[:, 1:-1][:3]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day
0,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6
1,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6
2,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6

In [163]:
식당.ix[:10, :5]

         date  dine_type         corner          menu is_sold_out
0  2013-08-06     dinner    grill & fry  훈제연어벤또(200개)           F
1  2013-08-06     dinner  rice & soup 1   뚝배기 우거지 갈비탕           F
2  2013-08-06      lunch     noodle bar         판모밀정식           F
3  2013-08-06  breakfast  rice & soup 1         설렁탕정식           F
4  2013-08-06      lunch  rice & soup 1     A. 부대찌개정식           F
5  2013-08-12     dinner     noodle bar          차슈라멘           F
6  2013-08-12  breakfast  rice & soup 1        뚝배기순대국           F
7  2013-08-12      lunch  rice & soup 1     A:누룽지장각백숙           F
8  2013-08-12      lunch     noodle bar         유니자장면           F
9  2013-08-12     dinner  rice & soup 1        김치날치알밥           F
10 2013-08-12     dinner    grill & fry       그릴드함박정식           F

조건에 따라 선택
21세기에 출시된 게임 자료 선택

In [165]:
출시2k = ncgames.출시 > 2000
ncgames[출시2k]

               장르    출시 플랫폼
제목
리니지2       MMORPG  2003  PC
시티 오브 히어로  MMORPG  2004  PC
길드워        MMORPG  2006  PC
아이온        MMORPG  2008  PC

In [169]:
ncgames[ncgames.출시 > 2000 ]

               장르    출시 플랫폼
제목
리니지2       MMORPG  2003  PC
시티 오브 히어로  MMORPG  2004  PC
길드워        MMORPG  2006  PC
아이온        MMORPG  2008  PC

#### 연습

어떤 사용자는 NCSOFT 게임에 대해 호불호가 있다. 해당 사용자는 다음과 같은 선호도를 갖는다고 한다.

    - 리니지: 호
    - 리니지: 호
    - 히어로: 불
    - 길드워: 불
    - 아이온: 호

1. 사용자의 취향을 시리즈로 표현
1. 사용자의 취향에 맞는 게임자료만 ncgames에서 선택

In [207]:
#취향 = pd.Series([True, True, False, False, True, True], index=['리니지', '리니지2', '히어로', '길드워', '아이온', '리이털'])
취향 = pd.Series([True, True, False, False, True, True])

In [189]:
ncgames.index

Index(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype='object', name='제목')

In [205]:
ncgames[취향.values]

             장르    출시 플랫폼
제목
리니지      MMORPG  1998  PC
리니지2     MMORPG  2003  PC
아이온      MMORPG  2008  PC
리니지 이터널  MMORPG   NaN  PC

In [208]:
취향 = pd.Series([True, True, False, False, True, True], index= ncgames.index)

In [209]:
ncgames[취향]

             장르    출시 플랫폼
제목
리니지      MMORPG  1998  PC
리니지2     MMORPG  2003  PC
아이온      MMORPG  2008  PC
리니지 이터널  MMORPG   NaN  PC

In [210]:
날씨 = pd.read_excel('날씨.xlsx')
날씨[:3]

          날짜     지역  일평균온도     기상속성
0 2013-08-01  seoul   28.0     구름많음
1 2013-08-02  seoul   27.4  흐림/안개/비
2 2013-08-03  seoul   28.9   흐림/소나기

In [211]:
서울 = 날씨.지역 == 'seoul'
서울[:3]

0    True
1    True
2    True
Name: 지역, dtype: bool

색인이 일치하지 않아서 에러가 발생

In [213]:
날씨.set_index('날짜')['서울']

KeyError: '서울'

열의 값을 기반으로 선택

In [214]:
날씨[날씨.지역 == 'seoul'][:3]

          날짜     지역  일평균온도     기상속성
0 2013-08-01  seoul   28.0     구름많음
1 2013-08-02  seoul   27.4  흐림/안개/비
2 2013-08-03  seoul   28.9   흐림/소나기

대상 열을 색은으로 만든 다음, 색인 선택 활용

In [216]:
날씨.set_index('지역').ix['seoul'][:3]

              날짜  일평균온도     기상속성
지역
seoul 2013-08-01   28.0     구름많음
seoul 2013-08-02   27.4  흐림/안개/비
seoul 2013-08-03   28.9   흐림/소나기

#### 연습

식당.xlsx를 읽어들여 생성한 데이터프레임에 대해 다음을 수행

1. rice & soup 1코너 자료 선택
1. rice & soup 1,2 자료 선택
1. 주문 수량이 200 이상인 자료만 선택

In [218]:
식당 = pd.read_excel('식당.xlsx')
식당[:3]

        date            메뉴             코너     시간대  주문수량
0 2013-08-06  훈제연어벤또(200개)    grill & fry  dinner   213
1 2013-08-06   뚝배기 우거지 갈비탕  rice & soup 1  dinner   261
2 2013-08-06         판모밀정식     noodle bar   lunch   267

In [239]:
식당[식당['코너'] == 'rice & soup 1'][:3]

        date           메뉴             코너        시간대  주문수량
1 2013-08-06  뚝배기 우거지 갈비탕  rice & soup 1     dinner   261
3 2013-08-06        설렁탕정식  rice & soup 1  breakfast     1
4 2013-08-06    A. 부대찌개정식  rice & soup 1      lunch   376

In [240]:
식당.set_index('코너').ix['rice & soup 1'].reset_index()[:3]

              코너       date           메뉴        시간대  주문수량
0  rice & soup 1 2013-08-06  뚝배기 우거지 갈비탕     dinner   261
1  rice & soup 1 2013-08-06        설렁탕정식  breakfast     1
2  rice & soup 1 2013-08-06    A. 부대찌개정식      lunch   376

두 개 이상의 조건을 합쳐서 불리언 필터 생성

In [257]:
한식코너 = (식당['코너'] == 'rice & soup 1') | (식당['코너'] == 'rice & soup 2')
식당[한식코너][:3]

        date           메뉴             코너        시간대  주문수량
1 2013-08-06  뚝배기 우거지 갈비탕  rice & soup 1     dinner   261
3 2013-08-06        설렁탕정식  rice & soup 1  breakfast     1
4 2013-08-06    A. 부대찌개정식  rice & soup 1      lunch   376

필터 적용후 한식이 제대로 선택 되었는지 확인

In [250]:
식당[한식코너].코너.value_counts()

rice & soup 1    1422
rice & soup 2     332
Name: 코너, dtype: int64

In [254]:
식당.set_index('코너').ix[['rice & soup 1', 'rice & soup 2']][:10]

                    date           메뉴        시간대  주문수량
코너
rice & soup 1 2013-08-06  뚝배기 우거지 갈비탕     dinner   261
rice & soup 1 2013-08-06        설렁탕정식  breakfast     1
rice & soup 1 2013-08-06    A. 부대찌개정식      lunch   376
rice & soup 1 2013-08-12       뚝배기순대국  breakfast    26
rice & soup 1 2013-08-12    A:누룽지장각백숙      lunch   504
rice & soup 1 2013-08-12       김치날치알밥     dinner   216
rice & soup 1 2013-08-13   A: 누룽지장각백숙      lunch   532
rice & soup 1 2013-08-13         분차덮밥     dinner   457
rice & soup 1 2013-08-13       사골우거지탕  breakfast    26
rice & soup 1 2013-08-14       다슬기해장국  breakfast    27

In [255]:
식당[식당.주문수량 >= 200][:3]

        date            메뉴             코너     시간대  주문수량
0 2013-08-06  훈제연어벤또(200개)    grill & fry  dinner   213
1 2013-08-06   뚝배기 우거지 갈비탕  rice & soup 1  dinner   261
2 2013-08-06         판모밀정식     noodle bar   lunch   267

In [259]:
ncgames['장르'] = '대규모 롤플레잉'
ncgames[:3]

                 장르    출시 플랫폼
제목
리니지        대규모 롤플레잉  1998  PC
리니지2       대규모 롤플레잉  2003  PC
시티 오브 히어로  대규모 롤플레잉  2004  PC

데이터 잘 선택하면 고치기 쉬움

In [264]:
ncgames.ix[['리니지', '리니지2'], '장르'] = 'MMORPG'

In [265]:
ncgames[:3]

                 장르    출시 플랫폼
제목
리니지          MMORPG  1998  PC
리니지2         MMORPG  2003  PC
시티 오브 히어로  대규모 롤플레잉  2004  PC

여러 열 정보 한번에 바꾸기 = > 여러 열이니까 series
전체 열이 통채로 바뀜

In [267]:
ncgames.ix['리니지'] = pd.Series({'장르': 'RPG', '플랫폼': '윈도우'})
ncgames[:3]

                 장르    출시  플랫폼
제목
리니지             RPG   NaN  윈도우
리니지2         MMORPG  2003   PC
시티 오브 히어로  대규모 롤플레잉  2004   PC

1. 원본 자료를 근거로 새로운 시리즈 생성
1. 시리즈의 정보를 원하는 대로 수정

In [274]:
리니지 = ncgames.ix['리니지'].copy()
리니지['출시'] = 1998

In [270]:
리니지

장르      RPG
출시     1998
플랫폼     윈도우
Name: 리니지, dtype: object

시리즈를 대상에 색인 또는 열에 할당해 갱신

In [273]:
ncgames.ix['리니지'] = 리니지
ncgames[:3]

                 장르    출시  플랫폼
제목
리니지             RPG  1998  윈도우
리니지2         MMORPG  2003   PC
시티 오브 히어로  대규모 롤플레잉  2004   PC

In [275]:
ncgames.ix[['리니지', '리니지2']] = 리니지

ValueError: Must have equal len keys and value when setting with an iterable